<div class="modal-header">
    <h5 class="modal-title">User Secret</h5>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()" *ngIf="isUserAllowed">
      <fa name="times"></fa>
    </button>
  </div>
  <div class="modal-body">
      <form *ngIf="secretForm" [formGroup]="secretForm">
        <div *ngIf="!isUserAllowed" class="alert alert-danger">
          Currently this is a private service!<br>
          Please ask flockinger to unlock with your 'User Hash'!<br>
          If you don't have a generated Secret/User Hash yet,
          please generate and ask for unlocking.<br>
          Store your 'Secret Key' place in a safe place, it's your only
          way to login, and it's not recoverable/changeable!
        </div>
        <div formGroupName="user">
            <div class="form-group">
                <label for="secretKeyTextArea">User Hash</label>
                <textarea class="form-control" id="userHashTextArea" rows="5" formControlName="userHash" readonly></textarea>
              </div>
          <div class="form-group">
            <label for="secretKeyTextArea">Secret Key</label>
            <textarea class="form-control" id="secretKeyTextArea" rows="5" formControlName="userKey"></textarea>
          </div>
        </div>
      </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="createUser()" *ngIf="isUserLoggedOut()" >Create User</button>
    <button type="button" class="btn btn-secondary"
    (click)="enableEditKeyMode()" *ngIf="keyEditModeDisabled">Edit User Key</button>
    <button type="button" class="btn btn-secondary"
    (click)="updateUser()" *ngIf="!keyEditModeDisabled">Store changed Key</button>
  </div>
