<div class="modal-header">
    <h5 class="modal-title">User Secret</h5>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <fa name="times"></fa>
    </button>
  </div>
  <div class="modal-body">
      <form *ngIf="secretForm" [formGroup]="secretForm">
        <div formGroupName="user">
          <div class="form-group">
            <label for="secretKeyTextArea">Secret Key</label>
            <textarea class="form-control" id="secretKeyTextArea" rows="5" formControlName="userKey"></textarea>
          </div>
        </div>
      </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="createUser()" *ngIf="isUserLoggedOut()" >Create User</button>
    <button type="button" class="btn btn-secondary"
    (click)="enableEditKeyMode()" *ngIf="keyEditModeDisabled">Edit User Key</button>
    <button type="button" class="btn btn-secondary"
    (click)="updateUser()" *ngIf="!keyEditModeDisabled">Store changed Key</button>
  </div>
